{% extends 'base.html.twig' %}

{% block title %}Modificar{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
<body>
    {{parent()}}

    <div>
        <h2 style="text-align:center; margin-top:50px;"><b>Modificar usuario</b></h3>
    </div>
    <div class="container" style="margin-top: 50px;">
        {{ form_start(formulario, {'enctype':'multipart/form-data'})}}
            <div class="row" style="text-align:center;">
                <div class="offset-md-4 col-md-4">
                    {{ form_widget(formulario.nombre, {attr: {class: 'form-control'} })}}
                    <br>
                </div>
                <div class="offset-md-4 col-md-4">
                    {{ form_widget(formulario.apellido, {attr: {class: 'form-control'} })}}
                    <br>
                </div>
               <div class="offset-md-4 col-md-4">
                    {{ form_widget(formulario.dni, {attr: {class: 'form-control'} })}}
                    <br>
                </div>
                <div class="offset-md-4 col-md-4">
                    {{ form_widget(formulario.domicilio, {attr: {class: 'form-control'} })}}
                    <br>
                </div>
                <div class="offset-md-4 col-md-4">
                    {{ form_widget(formulario.telefono, {attr: {class: 'form-control'} })}}
                    <br>
                </div> 
            </div>
            <br>
            <div class="form-row">
                <div class="offset-md-4 col-md-2">
                    {{ form_widget(formulario.Aceptar, {attr: {class: 'btn btn-primary'} })}}
                </div>
                <div class="offset-md-1 col-md-2">
                    <a class= 'btn btn-primary' href="../listaPersonas">Cancelar</a>
                </div>
            </div>
            {{ form_end(formulario) }}
    </div>
<body>
{% endblock %}
